<div class="container-fluid" style="background-color: #292b2c ; overflow-x: hidden;">
    <!--Nav Bar-->
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/fx/random" style="color: white;">Random Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color: white; background-color: dimgray;">Calculator</a>
                </li>
            </ul>
            <!-- Calculator -->
        </div>
        <div class="row" style="margin-left: 220px;">
            <div class="row g-2">
                <h3 style="color: white">Calculator</h3>
            </div>
            <div class="row g-3">

            </div>
           


            <!-- Currency -->
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Currency"
                        style="color: black;"><b>Currency<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="c1" [(ngModel)]="Input.c1"
                        placeholder="Enter the currency1" aria-label="Currency1">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="c2" [(ngModel)]="Input.c2"
                        placeholder="Enter the currency2" aria-label="Currency2">
                </div>
            </div>
            <!-- Duration -->
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="Principal"
                        style="color: black;" aria-required="true"><b>Duration<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="monthsDuration" [(ngModel)]="Input.monthsDuration"
                        placeholder="Enter the duration" aria-required="true" aria-label="principal" >
                </div>
                <div *ngIf="Input.principal<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Duration can't be negative.</b></p>
                </div>
            </div>

            <!-- Bid/Ask for Currency1 -->
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="BidAskC1"
                        style="color: black;"><b>Spot(Bid/Ask)({{Input.c1}}/{{Input.c2}})<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="bid_c1" [(ngModel)]="Input.bid_c1"
                        placeholder="Enter bid value" aria-label="BidC1">

                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="ask_c1" [(ngModel)]="Input.ask_c1"
                        placeholder="Enter ask value" aria-label="Ask1">
                </div>
                <div *ngIf="Input.ask_c1<Input.bid_c1" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask rate should be more than Bid rate.</b></p>
                </div>

            </div>

            <!-- Bid/Ask for Currency2 -->
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Spot"
                        style="color: black;"><b>Forward(Bid/Ask)({{Input.c1}}/{{Input.c2}})<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="bid_c2" [(ngModel)]="Input.bid_c2" placeholder="Enter bid value"
                        aria-label="BidC2">
            
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="ask_c2" [(ngModel)]="Input.ask_c2" placeholder="Enter ask value"
                        aria-label="Ask2">
                </div>
                <div *ngIf="Input.ask_c2<Input.bid_c2" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask rate should be more than Bid rate.</b></p>
                </div>
            
            </div>

            <!-- Bid/Ask Interest Rates -->
            <div class="row g-2">

                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Interest" style="color: black;"><b>Interest
                            Bid/Ask({{Input.c1}})(p.a.)<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="int_bid_c1" [(ngModel)]="Input.int_bid_c1"
                        placeholder="Enter bid value" aria-label="BidC1">

                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="int_ask_c1" [(ngModel)]="Input.int_ask_c1"
                        placeholder="Enter ask value" aria-label="Ask1">
                </div>
                <div *ngIf="Input.int_ask_c1<Input.int_bid_c1" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask rate should be more than Bid rate.</b></p>
                </div>
            </div>
            <div class="row g-2">

                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Interest" style="color: black;"><b>Interest
                            Bid/Ask({{Input.c2}})(p.a.)<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="int_bid_c2" [(ngModel)]="Input.int_bid_c2"
                        placeholder="Enter bid value" aria-label="BidC2">

                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="int_ask_c2" [(ngModel)]="Input.int_ask_c2"
                        placeholder="Enter ask value" aria-label="Ask2">
                </div>
                <div *ngIf="Input.int_ask_c2<Input.int_bid_c2" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask rate should be more than Bid rate.</b></p>
                </div>

            </div>

             <!-- Amount -->
             <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="Principal"
                        style="color: black;" aria-required="true"><b>Principal Amount<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="principal" [(ngModel)]="Input.principal"
                        placeholder="Enter the principal amount" aria-required="true" aria-label="principal" >
                </div>
                <div *ngIf="Input.principal<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Amount can't be negative.</b></p>
                </div>
            </div>

            <!-- Transaction Cost -->

            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="Principal"
                        style="color: black;" aria-required="true"><b>Transaction Cost(% of Amount)</b></label>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" name="principal" [(ngModel)]="Input.transCost"
                        placeholder="Enter the transaction cost" aria-required="true" aria-label="principal" >
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light" style="background-color: darkorange; width: 111.22222px;"
                        (click)="setValues($event)"><b>Arbitrage</b> </button>

                </div>
                <div *ngIf="Input.principal<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Transaction cost can't be negative.</b></p>
                </div>
            </div>

            <!-- Display Aribtrage  -->
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Arbitrage"
                        style="color: black;background-color:rgb(139, 201, 241)"><b>Arbitrage</b></label>
                </div>
                <div class="col-md-4">
                    <label type="text" class="form-control" aria-label="Principal"
                        style="color: black;">{{result['result']}}</label>
                </div>
                <div class="col-md-1">
                    <div *ngIf="loading" class="spinner-border text-warning" role="status">
                        <span class="visually-hidden"></span>
                      </div>

                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Principal"
                        style="color: black;background-color:rgb(139, 201, 241)"><b>Profit/Loss</b></label>
                </div>
                <div class="col-md-4">
                    <label type="text" class="form-control" [ngClass]="{
                        'red' : result['fx_p_l']<0,
                        'green' : result['fx_p_l']>0

                    }"><b>{{result['fx_p_l']}}</b></label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-3">
                    <label type="text" class="form-control" aria-label="Principal"
                        style="color: black;background-color:rgb(139, 201, 241)"><b>Choice</b></label>
                </div>
                <div class="col-md-4">
                    <label type="text" class="form-control" aria-label="Principal"
                        style="color: black;">{{result['choice']}}</label>
                </div>
            </div>
            <div class="row g-5">

            </div>
            <div class="row g-4">

            </div>
            <div class="row g-3">

            </div>


        </div>



    </div>