<div class="container-fluid" style="background-color:  #292b2c;">

    <div class="row">
        <div col-md-2>

        </div>
        <div col-md-8>

            <div class="row">
                <div class="row g-2">
                    <h3 style="color: white">Forex Captured Opportunities</h3>
                </div>
    
                <table class="table table-bodered" style="color: white;">
                    <thead>
                        <tr>
                            <th *ngFor = "let column of displayedColumns">
                              {{column}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of result">
                            <td>{{ data.transId }}</td>
                            <td>{{ data.bid_spot}}</td>
                            <td>{{ data.ask_spot }}</td>
                            <td>{{ data.bid_3m }}</td>
                            <td>{{ data.ask_3m }}</td>
                            <td>{{ data.int_c1_bid }}</td>
                            <td>{{ data.int_c1_ask }}</td>
                            <td>{{ data.int_c2_bid }}</td>
                            <td>{{ data.int_c2_ask }}</td>
                            <td>{{ data.choice }}</td>
                            <td style="background-color: green; color: white;"><b>{{ data.profit }}</b></td>
                          </tr>
                    </tbody>
                  </table>
    
            </div>

            <div class="row">
                <div *ngIf="loading" class="spinner-border text-warning" role="status">
                    
                  </div>

            </div>

        </div>

        

    </div>

</div>
