<div class="container-fluid" style="background-color: #292b2c ; overflow-x: hidden;">
    <!--Nav Bar-->
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/cc/random" style="color: white;">Random Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color: white; background-color: dimgray;">Calculator</a>
                </li>
            </ul>
            <!-- Calculator -->
        </div>
        <div class="row" style="margin-left: 290px;">
            <div class="row g-2">
                <h3 style="color: white">Calculator</h3>
            </div>
            <div class="row g-3">
  
            </div>
            <!-- Amount -->
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="StockAmount"
                        style="color: black;"><b>Quantity<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="Quantity" [(ngModel)]="Input.lot_size"
                        placeholder="Enter the Quantity" aria-label="StockAmount" required>
                </div>
                <div *ngIf="Input.lot_size<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Stock amount can't be negative.</b></p>
                </div>
                
            </div>
  
            <!-- Bid/Ask for Spot Price -->
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" class="form-control" aria-label="Spot"
                        style="color: black;"><b>Spot Bid/Ask<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="bid_spotPrice" [(ngModel)]="Input.bid_spotPrice"
                        placeholder="Enter bid value for Spot Price" aria-label="Bid For Spot">
  
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="ask_spotPrice" [(ngModel)]="Input.ask_spotPrice"
                        placeholder="Enter ask value for Spot" aria-label="Ask For Spot">
                </div>
                
                <div *ngIf="Input.ask_spotPrice<Input.bid_spotPrice" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask price should be more than Bid price.</b></p>
                </div>

                <div *ngIf="Input.ask_spotPrice<0||Input.bid_spotPrice<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask price or Bid price can't be negative.</b></p>
                </div>
                

                


               
                
            </div>
  
            <!-- Bid/Ask for Future Price -->
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" class="form-control" aria-label="Future"
                        style="color: black;"><b>Futures Bid/Ask<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="bid_futurePrice" [(ngModel)]="Input.bid_futurePrice"
                        placeholder="Enter bid value for Futures Price" aria-label="Bid For Spot">
  
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="ask_futurePrice" [(ngModel)]="Input.ask_futurePrice"
                        placeholder="Enter ask value for Futures Price" aria-label="Ask For Futures">
                </div>
                <div *ngIf="Input.ask_futurePrice<Input.bid_futurePrice" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask price should be more than Bid price.</b></p>
                </div>
                <div *ngIf="Input.ask_futurePrice<0||Input.bid_futurePrice<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask price or Bid price can't be negative.</b></p>
                </div>
            </div>
  
            <!-- Bid/Ask Interest Rates -->
            <div class="row g-2">
  
                <div class="col-md-2">
                    <label type="text" class="form-control" aria-label="Interest" style="color: black;"><b>Cost of Funds
                            Bid/Ask<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="bid_rfr" [(ngModel)]="Input.bid_rfr"
                        placeholder="Enter Interest rate for Bid" aria-label="BidRFr">
  
                </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" name="ask_rfr" [(ngModel)]="Input.ask_rfr"
                        placeholder="Enter Interest rate for Ask " aria-label="AskRFr">
                </div>
                <div *ngIf="Input.ask_rfr<=Input.bid_rfr" class="col-md-3" id="alert" role="alert">
                    <p><b>*Ask price should be more than Bid price.</b></p>
                </div>

  
            </div>
             <!-- Duration -->
             <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="duration"
                        style="color: black;"><b>Months<span class="nowrap" style="color: red;">*</span></b></label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="duration" [(ngModel)]="Input.duration"
                        placeholder="Months" aria-label="duration">
                </div>
                <div *ngIf="Input.duration<0" class="col-md-3" id="alert" role="alert">
                    <p><b>*Duration can't be negative</b></p>
                </div>
                
            </div>

            <!-- Brokerage -->
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" style="background-color: #292b2c ;" class="form-control" aria-label="brokerage"
                        style="color: black;"><b>Transaction cost(% of spot)</b></label>
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" name="brokerage" [(ngModel)]="Input.brokerage"
                        placeholder="Enter Transaction cost" >
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light" style="background-color: darkorange;width: 111.22222px;"
                    (click)="setValues($event)"><b>Arbitrage</b> </button>
    
                </div>
                <div *ngIf="Input.transactionCost" class="col-md-3" id="alert" role="alert">
                    <p><b>*Transaction cost can't be negative</b></p>
                </div>
                
            </div>


           
            
           
            
  
            <!-- Display Aribtrage  -->
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" class="form-control" aria-label="Arbitrage"
                        style="color: black;background-color:rgb(139, 201, 241)"><b>Arbitrage Type</b></label>
                </div>
                <div class="col-md-4">
                    <label type="text" class="form-control" aria-label="Arbitrage"
                        style="color:black;"><b>{{result['arbitrage']}}</b></label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-2">
                    <label type="text" class="form-control" aria-label="Profit"
                        style="color: black;background-color:rgb(139, 201, 241)"><b>Profit/Loss</b></label>
                </div>
                <div class="col-md-4">
                <label type="text" class="form-control" aria-label="Profit"[ngClass]="{
                    'red' : result['profit']<0,
                    'green' : result['profit']>0
                }"><b>{{result['profit']}}</b></label>
                </div>
            </div>
  
  
        </div>
  
  
  
    </div>