<div class="container-fluid" style="background-image: url('/assets/finance.jpg');margin-bottom: 0px;">
  <div class="row">

    <div class="container-fluid" id="carousel1" style="background-color: black;opacity: 0.85;">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="padding-right: 50px;">
            <img src="assets/arbitrage.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block" style="color: black;">
              <h5>Arbitrage</h5>
              <p>Arbitrage is the purchase and sale of an asset in order to profit from a difference in the asset's
                price between markets. </p>
            </div>
          </div>
          <div class="carousel-item" style="color:white;padding-right: 50px;">
            <h2>Cash and Carry</h2>
            <h5>Cash-and-carry-arbitrage is a market neutral strategy combining the purchase of a long position in an
              asset such as a stock or commodity, and the sale (short) of a position in a futures contract on that same
              underlying asset.</h5>
            
          </div>
          <div class="carousel-item" style="color:white;padding-right: 50px;">
            <h2>Forex</h2>
            <h5>Forex arbitrage is a risk-free trading strategy that allows retail forex traders to make a profit with no open currency exposure. The strategy involves acting on opportunities presented by pricing inefficiencies in the short window they exist.</h5>
          </div>
          <div class="carousel-item" style="color:white;padding-right: 50px;">
            <h2>FRA</h2>
            <h5>Futures arbitrage, are risk-free arbitrage techniques which returns a profit without any directional
              risk. This means that if the arbitrage technique is applied properly, you will make a profit no matter
              which way the underlying asset moves.</h5>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>




  </div>

</div>