
div#carousel1.container-fluid {
    margin-left: 300px;
    margin-right: 120px;
    width: 724px;
    height: 300px;
    margin-bottom: 180px;
    margin-top: 180px;
}

a.carousel-control-prev{
    width: 120px;
    top: 170px;
}

a.carousel-control-next{
    width: 120px;
    top: 170px;
}

ol.carousel-indicators{
    top : 300px;
}

div.carousel-inner{
    padding: 40px;
    top: 30px;
    left: 20px;
}
div.container-fluid{
    height: 100vh;
}
