<div class="container-fluid" style="background-color: #292b2c ;">
    <div class="row">
      <h3 style="color: white">Random</h3>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Spot" style="color: black;">Spot Price</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Spot" style="color: black;">3190.0</label>
            </div>
          </div>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">Futures Price</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">3124.0</label>
            </div>
          </div>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">Months</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">3</label>
            </div>
          </div>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">Interest</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control" aria-label="Principal" style="color: black;">3.8</label>
            </div>
          </div>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control"  style="color: black;">Arbitrage</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control"  style="color: black;">Possible-Reverse Cash and Carry</label>
            </div>
          </div>
          <div class="row g-1">
            <div class="col-md-3">
              <label type="text" class="form-control"  style="color: black;">Profit</label>
            </div>
            <div class="col-md-3">
              <label type="text" class="form-control" style="color: black;">212355.0</label>
            </div>
          </div>
        

    </div>

</div>
